<div class="container">
<h1 class="headding">みんなの一言</h1>
 
<% @posts.each do |post| %>
<ul class="list-group">
  <li class="list-group-item">
  <%= post.content %>
  

  <%= link_to "削除", "/destroy/#{post.id}", method: :post, class: "btn btn-danger float-right",data: {confirm: "本当に削除しますか？"} %>
  <%= link_to "編集", "/edit/#{post.id}" ,class: "btn btn-success float-right"  %>
  
  
  </li>
</ul>
<%end%>

<div class="pagenate">
  <%= paginate @posts %>
  </div>

</div>

